/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&display=swap');

:root {
    --color-about: #C1CAD6;
    --color-experiences: #D4ADCF;
    --color-projects: #856084;
    --color-contact: #84E296;
    --color-download: #DDE1E4;
    --color-on-surface: #171717;
    --color-background: #FAFAFA;
    --f-main: "Darker Grotesque", sans-serif;
    --f-title: "Anton", sans-serif;
}

/*Reset and Helpers*/
body {
    font-family: var(--f-main);
    color: var(--color-on-surface);
    background-color: var(--color-background);
    line-height: 1.7;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

.wrapper {
    display: grid;
    height: 100vh;
    margin: 0 auto;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(100px, auto);
}

.about {
    grid-column: 1 / 9;
    grid-row: 1 / 4;

    background-color: var(--color-about);
}

.pic {
    grid-column: 9 / 13;
    grid-row: 1 / 6;
}

.experience {
    grid-column: 1 / 5;
    grid-row: 4 / 9;

    background-color: var(--color-experiences);
}

.project {
    grid-column: 5 / 9;
    grid-row: 4 / 9;

    background-color: var(--color-projects);
}

.contact {
    grid-column: 9 / 11;
    grid-row: 6 / 9;

    background-color: var(--color-contact);
}

.cv {
    grid-column: 11 / 13;
    grid-row: 6 / 9;

    background-color: var(--color-download);
}

.row-about {
    margin-top: 35px;
    margin-left: 60px;
    margin-right: 60px;
}

.link-about {
    position: absolute;
    top: 230px;
    right: 600px;
}

.title-about {
    font-family: var(--f-title);
    font-size: 70px;
}

.description-about {
    font-size: 20px;
    font-weight: 500;
}

.profile-pic {
    width: 100%;
    height: auto;
}

.title-experience {
    font-size: 40px;
    font-weight: 700;
}

.experience hr {
    margin-top: 230px;
}

.description-experience {
    font-size: 20px;
    font-weight: 500;
}

.link-experience {
    position: absolute;
    top: 550px;
    left: 485px;
}

.row-project {
    margin-top: 35px;
    margin-left: 60px;
    margin-right: 60px;
}

.title-project {
    font-size: 40px;
    font-weight: 700;
}

.project hr {
    margin-top: 230px;
}

.description-project {
    font-size: 20px;
    font-weight: 500;
}

.link-project {
    position: absolute;
    top: 550px;
    left: 1050px;
}


.contact {
    position: relative;
}

.row-contact {
    margin-top: 30px;
    margin-left: 15px;
}

.title-contact {
    font-size: 40px;
    font-weight: 700;
}


.row-cv {
    margin-top: 30px;
    margin-left: 15px;
}

.title-cv {
    font-size: 40px;
    font-weight: 700;
}

.link {
    position: absolute;
    bottom: 15px;
    right: 15px;
}
